@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "GothicRegular";
	src: url('./assets/fonts/CenturyGothicRegular.ttf') format('truetype');
}
@font-face {
	font-family: "GothicBold";
	src: url('../src//assets/fonts/CenturyGothic-Bold.ttf') format('truetype');
}
.hidden1 {
	transform: translateY(-100%);
	transition: transform 1s ease;
  }
.react-datetime-picker__calendar--open,
.react-datetime-picker__calendar--closed,
.react-datetime-picker__clock--open,
.react-datetime-picker__clock--closed {
	  position: absolute;
}

/* Estilos para ocultar las barras de desplazamiento en toda la aplicación, excepto en .tableMov */
/* SliderBar.css */
.slider-bar-container::-webkit-scrollbar {
	display: none; /* Oculta la barra de desplazamiento */
  }

.custom-select {
	width: 300px !important; /* Ancho deseado para el componente Select */
}

.customTextSize {
	font-size: 25px !important;
}

.tableMov::-webkit-scrollbar {
	/* Estilos de la barra de desplazamiento específicos para la clase tableMov */
	width: 2px;
	height: 13px;
	background-color: transparent; /* Cambia el color de fondo de la barra de desplazamiento */
}

.tableMov::-webkit-scrollbar-thumb {
	/* Estilos del thumb (agarre) de la barra de desplazamiento */
	background-color: #124f92;
	border-radius: 5px;
	cursor: pointer;
}
.gradient {
	background: linear-gradient(90deg, #337fd5 0%, #01e1ff 100%);
  }
/* Asegúrate de que el texto de los input del DateRangePicker sea siempre negro */
.react-calendar__tile--active{
	color: black !important;
}
  
/* En tu archivo CSS */
@media (max-width: 600px) {
	/* Cambiar el tamaño de fuente para dispositivos con ancho máximo de 600px (dispositivos móviles) */
	.toast {
		font-size: 10px; /* Tamaño de fuente más pequeño para dispositivos móviles */
	}
}


